<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Sample>
  <ExampleOid>e9679a19-4fd0-4c60-a76f-6d7cb1cfee22</ExampleOid>
  <ExampleID>T283589</ExampleID>
  <ExampleUrl>http://www.devexpress.com/example=T283589</ExampleUrl>
  <ProductName>Layout for UWP</ProductName>
  <Technology>DXperience</Technology>
  <Name>How to: Create Tiles with various animation effects</Name>
  <Description>This example demonstrates how to create tiles with various animation effects: flip, swing, slide and mosaic.</Description>
  <RequiredExampleRunnerVersion>3.0.15.0</RequiredExampleRunnerVersion>
  <SupportedVersions>
    <Version>15.2.5</Version>
    <Version>15.2.6</Version>
    <Version>15.2.7</Version>
    <Version>15.2.9</Version>
    <Version>15.2.10</Version>
    <Version>15.2.11</Version>
    <Version>15.2.12</Version>
    <Version>15.2.13</Version>
    <Version>15.2.14</Version>
    <Version>15.2.15</Version>
    <Version>16.1.3</Version>
    <Version>16.1.4</Version>
    <Version>16.1.5</Version>
    <Version>16.1.6</Version>
    <Version>16.1.7</Version>
    <Version>16.1.8</Version>
    <Version>16.1.9</Version>
    <Version>16.1.10</Version>
    <Version>16.1.11</Version>
    <Version>16.2.2</Version>
    <Version>16.2.3</Version>
    <Version>16.2.4</Version>
    <Version>16.2.5</Version>
  </SupportedVersions>
  <SupportedIDEs>
    <IDE>Microsoft Visual Studio 2015</IDE>
  </SupportedIDEs>
  <KeepNUnitTests>False</KeepNUnitTests>
</Sample>